@model ResultDTO<PlantsDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Links{
    <link href="/assets/css/vendor/dataTables.bootstrap5.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/vendor/responsive.bootstrap5.css" rel="stylesheet" type="text/css">
}

    <div class="row mt-3">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-sm-5">
                            <button type="button" class="btn btn-danger mb-2" data-bs-toggle="modal" data-bs-target="#bs-example-modal-lg">BitKi Ekle</button>
                        </div>
                    </div>
                    @if (Model.Status == true)
                {
                    <div class="table-responsive">
                        <table id="basic-datatable" class="table dt-responsive nowrap w-100">
                            <thead class="table-light">
                                <tr>

                                    <th class="all">Bitkiler</th>
                                    <th>Kategori Adı</th>
                                    <th>Eklenme Tarihi</th>
                                    <th>Aktif/Pasif</th>
                                    <th style="width: 85px;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.DataList)
                                {
                                    <tr id="data_@item.PlantId">
                                        <td>
                                            <img src="@item.ImagePath" alt="@item.Name" title="contact-img" class="rounded me-3" height="48">
                                            <p class="m-0 d-inline-block align-middle font-16">
                                                <a href="javascript:void(0)" class="text-body">@item.Name</a>
                                                <br>
                                            </p>
                                        </td>
                                        <td>
                                            @item.CategoryName
                                        </td>
                                        <td>
                                            @item.CreateDate.ToShortDateString()
                                        </td>
                                        <td>
                                            <div>
                                                <input type="checkbox" onchange="ChangeStatus(@item.PlantId)" id="switch_@item.PlantId" checked="@(item.Status==true?true:false)" data-switch="success">
                                                <label for="switch_@item.PlantId" data-on-label="Yes" data-off-label="No" class="mb-0 d-block"></label>
                                            </div>
                                        </td>

                                        <td class="table-action">
                                            <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-square-edit-outline"></i></a>
                                            <a onclick="DeletePlant(@item.PlantId)" class="action-icon" style="cursor:pointer;"> <i class="mdi mdi-delete"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Bitki Ekle</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body">
               
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        function DeletePlant(id) {
            Swal.fire({
                title: 'Silmek İstediğinize Emin Misiniz',
                showDenyButton: true,
                confirmButtonText: 'Sil',
                denyButtonText: `İptal`,
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/Plant/DeletePlant',
                        data: { id: id },
                        success: function() {
                            Swal.fire('Silindi!', '', 'success');
                            $('#data_' + id).remove();
                        }
                    });

                }
            })

        }
        function ChangeStatus(id) {
            $.ajax({
                url: '/Plant/ChangeStatus',
                data: { id: id },
                success: function() {
                    Swal.fire('İşlem Başarılı!', '', 'success')
                }
            });
        }
    </script>
}
