@model ResultDTO<PlantsDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Links{
    <link href="/assets/css/vendor/dataTables.bootstrap5.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/vendor/responsive.bootstrap5.css" rel="stylesheet" type="text/css">
}

    <div class="row mt-3">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-sm-5">
                            <a href="javascript:void(0)" class="btn btn-danger mb-2"><i class="mdi mdi-plus-circle me-2"></i> BitKi Ekle</a>
                        </div>
                    </div>
                    @if (Model.Status == true)
                {
                    <div class="table-responsive">
                        <table id="basic-datatable" class="table dt-responsive nowrap w-100">
                            <thead class="table-light">
                                <tr>

                                    <th class="all">Bitkiler</th>
                                    <th>Kategori Adı</th>
                                    <th>Eklenme Tarihi</th>
                                    <th>Aktif/Pasif</th>
                                    <th style="width: 85px;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.DataList)
                                {
                                    <tr>
                                        <td>
                                            <img src="@item.ImagePath" alt="@item.Name" title="contact-img" class="rounded me-3" height="48">
                                            <p class="m-0 d-inline-block align-middle font-16">
                                                <a href="javascript:void(0)" class="text-body">@item.Name</a>
                                                <br>
                                            </p>
                                        </td>
                                        <td>
                                            @item.CategoryName
                                        </td>
                                        <td>
                                            @item.CreateDate.ToShortDateString()
                                        </td>
                                        <td>
                                            <div>
                                                <input type="checkbox" onchange="ChangeStatus(@item.PlantId)" id="switch02" checked="@(item.Status==true?true:false)" data-switch="success">
                                                <label for="switch02" data-on-label="Yes" data-off-label="No" class="mb-0 d-block"></label>
                                            </div>
                                        </td>

                                        <td class="table-action">
                                            <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-square-edit-outline"></i></a>
                                            <a onclick="DeletePlant(@item.PlantId)" class="action-icon" style="cursor:pointer;"> <i class="mdi mdi-delete"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        function DeletePlant(id) {
            console.log("Silindi");
        }
        function ChangeStatus(id) {
            console.log("Güncellendi");
        }
    </script>
}
